<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>PPW E-Com</title>
		<link rel="stylesheet" type="text/css" href="../../assets/css/style.css"/>
	</head>
	<body>
		<section id="register">
			<div class="container">
				<h1 class="logo">Logo</h1>
			</div>
			<form>
				<h1>Daftar</h1>
				<div>
					<label for="username">Username:</label>
					<input type="text" name="username" id="username"/>
				</div>
				<div>
					<label for="email">Email:</label>
					<input type="email" name="email" id="email"/>
				</div>
				<div>
					<label for="password">Password:</label>
					<input type="password" name="password" id="password"/>
				</div>
				<div>
					<label for="confirm_password">Konfirmasi Password:</label>
					<input type="text" name="confirm_password" id="confirm_password"/>
				</div>
				<button type="submit">Konfirmasi</button>
				<hr/>
				<p>
					Sudah punya akun?
					<a href="#">Masuk</a>
				</p>
			</form>
		</section>
	</body>
</html>
