<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>PPW E-Com</title>
		<link rel="stylesheet" type="text/css" href="../../assets/css/style.css"/>
	</head>
	<body>
		<section id="login">
			<div class="container">
				<h1 class="logo">Logo</h1>
			</div>
			<form>
				<h1>Masuk</h1>
				<div>
					<label for="username">Username:</label>
					<input type="text" name="username" id="username"/>
				</div>
				<div>
					<label for="password">Password:</label>
					<input type="password" name="password" id="password"/>
				</div>
				<button type="submit">Konfirmasi</button>
				<hr/>
				<p>
					Belum punya akun?
					<a href="#">Daftar</a>
				</p>
			</form>
		</section>
	</body>
</html>
