/* 
 * MAIN STYLE 
 */
/*@import url('https://fonts.googleapis.com/css?family=Lato');*/

body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

a {
  text-decoration: none;
}

/* Custom horizontal line */
hr {
  width: 90%;
  margin-left: -1px;
  height: 1px;
  color: #e4e4e4;
  background-color: #e4e4e4;
  border: none;
}

p.error-msg {
  color: #dc143c;
  font-style: italic;
  font-weight: 600;
}

p.success-msg {
  color: #270;
  font-style: italic;
  font-weight: 600;
}

/* 
 * NAV STYLE 
 */
nav {
    width: 100%;
    background: #123f77;
}

/* default setting buat h1, diapply ke tag anchor */
.logo {
	color: #000;
  display: inline-block;
  font-size: 1.9em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

nav .logo {
  color: #fff;
}

/* ul: placeholder for clickable anchor. on the right-side */
nav ul {
	float: right;
  margin: 15px auto;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  color: white;
}

nav ul li:hover {
  background: #e91e63;
  cursor: pointer;
}

nav .menu:hover {
  color: #e91e63;
  cursor: pointer;
}

nav ul li a {
  color: #fff;
}

nav form {
  width: 25%;
  display: inline-block;
  margin-left: 30%;
}

/* Search bar */
nav input[type=text] {
  width: 70%;
  display: inline-block;
  padding: 6px 6px 9px 6px;
  margin-right: 10px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}

nav form button {
  width: 20%;
  display: inline-block;
}

/* Hero image untuk halaman index */
#hero {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 75%;
}


footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  background: #123f77;
  text-align: center;
  color: #fff;
}

/* 
 * FORM STYLE 
 */
#register, #login {
  text-align: center;
}

#register form, #login form {
  text-align: left;
  padding-left: 40px;
  margin: auto;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  width: 30%;
}

form label, form input {
  display: block;
  margin-bottom: 10px;
}

form input {
  width: 85%;
}

form button {
  box-sizing: border-box;
  color: #fff;
  background: #007bff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  width: 89%;
  margin: 10px auto;
  cursor: pointer;
}

/* 
 * USERS DASHBOARD STYLE 
 */

/* Menu: dashboard, administrasi. clickable anchor */
.menu {
  display: inline-block;
  color: #fff;
  margin-left: 40px;
  font-weight: 600;
  font-size: 18px;
}

.dashboard {
  width: 100%;
  background-color: #fff;
}

.dashboard h1 {
  display: inline-block;
  margin-left: 5%;
}

.dashboard-button {
  float: right;
  display: block;
  padding: 12px 24px;
  margin-left: 20px;
  margin-top: 15px;
  background-color: #0f86b6;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.page {
  border: 1px solid #e4e4e4;
  background: #f8f9fa;
  min-height: 77vh; /* vh = vertical height. 1% = 1vh */
  overflow: auto;
}

/* 
 * ADMIN DASHBOARD STYLE 
 */
.category {
  padding: 0;
}

.category-list {
  margin-right: 20px;
  display: inline-block;
  list-style-type: none;
}

.category-list a {
  color: #007bff;
}

/*
 * DEFAULT - NO DISPLAY
 */
#no-display {
  display: block;
  height: 250px;
  margin-top: 5%;
  background: no-repeat center/30% url("../img/default.png");
}

#no-display::after {
  content: "Tidak ada keterangan untuk ditampilkan";
  display: block;
  padding-top: 270px;
  text-align: center;
  font-size: 24px;
}

/*
 *  LIST ITEM IN SELLER - ADMIN DASHBOARD
 */
.list-barang {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px; /* 4 col */
  grid-template-rows: repeat(1, 400px); /* default 1 rows */
  grid-gap: 10px;
  grid-auto-rows: 500px; /* Auto add rows */
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.list-barang-ads {
  width: 250px;
  height: 450px;
}

/*  A bit hacky way of animating css 
    Using ~ general siblings combinators to change opacity
    of button above img
*/

.list-barang-ads img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 60%;
  transition: .5s ease;
  backface-visibility: hidden;
}
/*
.box-lihat {
  transition: .5s ease;
  opacity: 0;
  transform: translate(0, -750%);
  text-align: center;
}

.list-barang-ads img:hover {
  opacity: 0.3;
}

.list-barang-ads img:hover + .box-lihat {
  opacity: 1;
}

.list-barang-ads .box-lihat:hover {
  opacity: 1;
}
/*
.box-lihat > a {
  background-color: #007bff;
  color: white;
  padding: 16px 32px;
}

.box-lihat > a:hover {
  color: white;
  cursor: pointer;
  padding: 16px 32px;
}
/*
/*
.box-terjual {
  display: block;
  height: 60%;
  width: 100%;
  margin-bottom: 35px;
  background-color: #28a745;
  color: white;
  text-align: center;
  padding-top: 100px;
  box-sizing: border-box;
}
*/

/*
 *  ADMINISTRASI - ADMIN
 */

.verifikasi ul {
  padding: 0;
}

.verifikasi ul li {
  list-style-type: none;
}

.verifikasi ul li p {
  color: #0f86b6;
  display: inline-block;
  margin-right: 20px;
}

.verifikasi ul li a {
  color: #0f86b6;
  text-decoration: underline;
  font-weight: 600;
}