/* MODAL UTILITIES */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-konten {
	position: relative;
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 50%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header & Header */
.modal-header, .modal-footer {
  padding: 2px 16px;
  color: #000;
  text-align: center;
}

.modal-header {
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.modal-footer {
	border-top: 1px solid rgba(0, 0, 0, .3);
}

/* Modal Body */
.modal-body > p {
	text-align: center;
}

/* Form inside Modal */
.modal-body form {
	margin: 0 20px;
	box-sizing: border-box;
	padding-left: 40px;
}

/*
 *  Custom Input for Buat Iklan form
 */
form#form-iklan ul, {
  padding-left: 5px;
}

form#form-iklan ul li, .modal-body ul li {
  list-style-type: none;
}

form#form-iklan #namabarang,
form#form-iklan #hargabarang,
form#form-iklan #stokbarang,
form#form-iklan #beratbarang,
form#form-iklan #deskripsibarang,
form#form-iklan #kategoribarang,
form#form-iklan #gambarbarang,
form#form-iklan label[for="namabarang"],
form#form-iklan label[for="hargabarang"],
form#form-iklan label[for="stokbarang"],
form#form-iklan label[for="beratbarang"],
form#form-iklan label[for="deskripsibarang"],
form#form-iklan label[for="kategoribarang"],
form#form-iklan label[for="gambarbarang"] {
  width: 43%;
  float: left;
}

textarea#deskripsibarang, select#kategoribarang {
  margin-bottom: 20px;
}

#clear {
  clear: both;
}

form#form-iklan input[type="checkbox"] {
  display: inline-block;
  width: 58%;
}

/* Modal List Barang */
.modal-body ul {
  padding-left: 40px;
}

.modal-body ul li p,
.modal-body ul li span {
  display: inline-block;
}

.modal-body ul li p {
  width: 50%;
  margin-bottom: 0;
}

#lihat-deskripsi-barang {
  position: absolute;
}

#lihat-deskripsi-barang + span {
  margin-left: 50%;
  margin-top: 15px;
}

.modal-body ul li span {
  width: 40%;
  height: 25px;
  border-bottom: 1px solid #e4e4e4;
}

/* Extra Button */
.edit-button, .warning-button, .delete-button {
  box-sizing: border-box;
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  width: 30%;
  margin: 0 auto 0 auto;
  cursor: pointer;
}

.edit-button {
  background: #007bff;
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}

.warning-button {
  background: #ffc107;
}

.delete-button {
  background: #dc3545;
}

/*.modal-body .edit-button, .modal-body .delete-button {
  width: 48%;
}*/

.modal-body .warning-button, .modal-body .edit-button, .modal-body .delete-button {
  width: 97%;
}

 /* The alert message box */
.alert-warning {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin: 20px auto;
  width: 60%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
} 