<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>PPW E-Com</title>
		<link rel="stylesheet" type="text/css" href="../../../assets/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../../../assets/css/util.css"/>
	</head>
	<body>
		<nav>
			<div class="container">
				<h1 class="logo">Logo</h1>
				<a class="menu">Dashboard</a>
				<a href="./administrasi.html" class="menu">Administrasi</a>
				<ul>
					<li>
						<a href="views/register">Admin</a>
					</li>
					<li>
						<a href="views/login">Keluar</a>
					</li>
				</ul>
			</div>
		</nav>
		<section class="dashboard">
			<h1>Administrasi</h1>
			<!-- Trigger Modal -->
			<a id="trg-modal-hak-akses" class="dashboard-button">Ubah Hak Akses</a>

			<!-- Modal -->
			<div id="modal-hak-akses" class="modal">
				
				<!-- Konten Modal -->
				<div class="modal-konten">
					<div class="modal-header">
						<span class="modal-close">&times;</span>
						<h2>Ubah Hak Akses</h2>
					</div>
					<div class="modal-body">
						<p>Masukkan username dan tentukan hak akses yang akan diberikan</p>
						<form action="">
							<div>
								<label for="username">Username:</label>
								<input type="text" name="username" id="username">
							</div>
							<div>
								<label for="akses">Akses:</label>
								<input type="text" name="akses" id="akses">
							</div>
							<button type="submit">Konfirmasi</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="page">
			<div class="container verifikasi">
				<h4>Verifikasi</h4>
				<ul>
					<li>
						<p>Username sekian butuh verifikasi</p>
						<a href="">verifikasi</a>
					</li>
					<li>
						<p>Username sekian butuh verifikasi</p>
						<a href="">verifikasi</a>
					</li>
					<li>
						<p>Username sekian butuh verifikasi</p>
						<a href="">verifikasi</a>
					</li>
					<li>
						<p>Username sekian butuh verifikasi</p>
						<a href="">verifikasi</a>
					</li>
				</ul>
			</div>
		</section>

		<!-- Javascript -->
		<script type="text/javascript" src="../../../assets/js/script.js"></script>
	</body>
</html>
